<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="#">Friend Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" th:href="@{/homepage}">Home</a></li>
      &nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa&nspa

      <li class="nav-item">
        <button style="border-radius: 29px; height: 45px; width: 100px; margin-top: 10px; padding-block-end: 22px; text-align: center;"
                class="btn btn-outline-danger my-2 my-sm-0 text-color-dark">
          <a style="color: whitesmoke; text-decoration: none;" href="login">Logout</a>
        </button>
      </li>
    </ul>
  </div>
</nav>

<br>
<h2 style="text-align: center; color: blue;">Update Your Profile</h2>
<div class="container col-md-6">
  <form class="row g-3 needs-validation" th:action="@{/updateProfile}" th:object="${user}" method="post" enctype="multipart/form-data" novalidate>

    <input type="hidden" th:field="*{id}" name="userId" />

    <div class="col-md-6 position-relative">
      <label for="first_name" class="form-label">First name</label>
      <input type="text" class="form-control" id="first_name" th:field="*{first_name}" required>
      <div class="valid-tooltip">Looks good!</div>
      <div class="invalid-tooltip">Please enter your first name.</div>
    </div>

    <div class="col-md-6 position-relative">
      <label for="last_name" class="form-label">Last name</label>
      <input type="text" class="form-control" id="last_name" th:field="*{last_name}" required>
      <div class="valid-tooltip">Looks good!</div>
      <div class="invalid-tooltip">Please enter your last name.</div>
    </div>

    <div class="col-md-12 position-relative">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" required>
      <div class="invalid-tooltip">Please provide a valid email.</div>
    </div>

    <div class="col-md-12 position-relative">
      <label class="form-label">Upload Profile Photo</label>
      <input type="file" class="form-control" id="profileImage" name="profileImage" placeholder="">
      <div class="invalid-tooltip">Please upload a valid image file.</div>
    </div>

    <div class="col-md-6 position-relative">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" th:field="*{city}" required>
      <div class="invalid-tooltip">Please provide a valid city.</div>
    </div>

    <div class="col-md-6 position-relative">
      <label for="state" class="form-label">State</label>
      <select class="form-select" id="state" th:field="*{state}" required>
        <option selected value="">Select</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Bihar">Bihar</option>
        <option value="Goa">Goa</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
      </select>
      <div class="invalid-tooltip">Please select a valid state.</div>
    </div>

    <div class="col-md-12 position-relative">
      <label for="password" class="form-label">Enter New Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
      <div class="invalid-tooltip">Please provide a valid password.</div>
    </div>

    <div>
      <button style="margin-left: 40%;" class="btn btn-primary" type="submit">Update Profile</button>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<br>
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Welcome to Friend Book <br>
    <a class="text-reset fw-bold" href="mailto:smartlibrary40@gmail.com">Email: smartlibrary40@gmail.com</a>
  </div>
</footer>
</body>
</html>
